:root{
    --darkGreen:#526f2f;
    --myLightBackgroung:rgb(154,122,97,0.5);
    --mynew:rgb(240,222,206);
    --mynewlighter:rgb(240,222,206, 0.9);
    --LightGreen:#a4d28a;
}
body{

    background-image: url(../image/whiteFlowers.jpg) ;
    background-size: cover;
    padding: 50px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 10px;
    
}
@font-face{
    font-family: latoBold;
    src: url("../Lato-Bold.ttf");
}

@font-face{
    font-family: lato;
    src: url("../Lato-Regular.ttf");
}

@font-face{
    font-family: varela;
    src: url("../VarelaRound-Regular.ttf");
}

.grid-container1{
  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 120px ;
  padding: 10px;
  background-color:var(--myLightBackgroung);
  border-radius: 10px;
}

.header{
  height: 120px;
  grid-row: 1 / span 1;

}

.logoImg{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#logoImg{
  background-color:lightpink;
  border-radius: 100%;
  width: 100px; 
  padding: 1px; 
}

.titleName{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  text-align: left;
  padding-left: 20px;
  text-align: center;

}

#titleName{
  color: var(--mynew);
  text-decoration: none;
  font-family: latoBold;
  font-size: 80px;
  text-align: center;
}

.nav {
    display: grid;
    /* grid-template-columns: 850px auto; */
    grid-template-rows: 80px;
    height: 80px;
    font-family: lato;
    background-color: #397e6c;
    
}

.navbar {
    /* grid-column: 1 / 5; */
    background-color: #397e6c;
    word-spacing: 70px;
    text-align: left;
    padding-top: 10px;
    /* padding-left: 80px; */
    float: right;
    
}


.connect{
    grid-column: 2 / span 2;
    text-align: right;
    padding-right: 10px;
}
  
#connectImg{
 width: 40px;
 height: 40px;
}
    
    
.text {
        color: wheat;
        text-decoration: none;
        font-family: lato;
        font-size: 20px;
     
    
}
    
    
h1{
        color: darkgreen;
        text-decoration: none;
        font-family: latoBold;
        font-size: 25PX;
}
    
    
    
    
  
  


