.nav {
    display: grid;
    grid-template-columns: 850px auto;
    grid-template-rows: 80px;
    height: 80px;
    font-family: Tahoma;
}

.navbar {
    grid-column: 1 / span 1;
    background-color: #397e6c;
    word-spacing: 60px;
    text-align: left;
    padding-left: 80px;
}

.text {
    color: wheat;
    text-decoration: none;
    font-family: alphab;
    font-size: 15px;
}

.footer {
    background-color: #397e6c;
    display: grid;
    font-family: Tahoma;
    grid-template-columns: auto;
    grid-template-rows: 80px;
    height: 80px;
    justify-items: center;
}
