.grid-container2 {
    grid-template-areas:
        'headerLeft headerLeft headerRight headerRight'
        'left left aboutme aboutme'
        'left left item9 item10'
        'helper helper details9 details10'
        'helper helper item11 item12'
        'helper helper details11 details12'
        'footer footer footer footer';
    justify-items: center;
    font-family: latoBold;
    background-size: cover;
}

.addItem {
    grid-area: addItem;
    border: solid white;
    background-color: antiquewhite;
}

.helper {
    grid-area: helper;
}

.left {
    display: grid;
    grid-area: left;
    padding: 10px;
}

.headerLeft {
    margin-bottom: 20px;
    grid-area: headerLeft;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
}

.headerRight {
    margin-bottom: 20px;
    grid-area: headerRight;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
}



body {
    background-image: url(../image/whiteFlowers.jpeg);
    background-size: cover;
    padding: 50px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 10px;
}

#img {
    border: dotted #397e6c;
}


.aboutme {
    grid-area: aboutme;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: whitesmoke;
}

.something {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: whitesmoke;
}


.item9 {
    grid-area: item9;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item10 {
    grid-area: item10;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item11 {
    grid-area: item11;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item12 {
    grid-area: item12;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.details9 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details9;
}

.details10 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details10;
}

.details11 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details11;
}

.details12 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details12;
}

.text1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    text-decoration: none;
    text-align: center;
    color: #f4b7c7;
    font-size: 20px;
}

#popup:hover {
    width: 210px;
}


.filterDiv {
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    font-weight: bold;
    font-family: cursive;
    border: none;
    outline: none;
    padding: 12px 20px;
    margin: 20px;
    background-color: #f4b7c7;
    cursor: pointer;
}

    /* Add a light grey background on mouse-over */
    .btn:hover {
        background-color: #ddd;
    }

    /* Add a dark background to the active button */
    .btn.active {
        background-color: #cc96a5;
    }
