.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    justify-items: center;
    font-family: latoBold;
    background-size: cover;
    border: solid white;
}

.right {
    display: grid;
    grid-column: 4/5;
    grid-row: 2/6;
    padding: 10px;
    margin: 20px;
    border: solid white;
}

.left {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/6;
    padding: 10px;
    margin: 20px;
    border: solid white;
}

.headerLeft {
    margin-bottom: 20px;
    grid-column: 1/ 3;
    grid-row: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
}

.headerRight {
    margin-bottom: 20px;
    grid-column: 4/6;
    grid-row: 1;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
}



body {
    background-image: url(../image/whiteFlowers.jpeg);
    background-size: cover;
    padding: 50px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 10px;
}

#img {
    border: dotted #397e6c;
}

.item3 {
    grid-column: 1;
    grid-row: 4;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item4 {
    grid-column: 2;
    grid-row: 4;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item5 {
    grid-column: 1;
    grid-row: 6;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item6 {
    grid-column: 2;
    grid-row: 6;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.aboutme {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row: 2;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: whitesmoke;
}

.something {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: whitesmoke;
}


.item9 {
    grid-column: 4;
    grid-row: 4;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item10 {
    grid-column: 5;
    grid-row: 4;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item11 {
    grid-column: 4;
    grid-row: 6;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item12 {
    grid-column: 5;
    grid-row: 6;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.details3 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 1;
    grid-row: 5;
}

.details4 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 2;
    grid-row: 5;
}

.details5 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 1;
    grid-row: 7;
}

.details6 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 2;
    grid-row: 7;
}

.details9 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 4;
    grid-row: 5;
}

.details10 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 5;
    grid-row: 5;
}

.details11 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 4;
    grid-row: 7;
}

.details12 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-column: 5;
    grid-row: 7;
}

.text1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    text-decoration: none;
    text-align: center;
    color: #f4b7c7;
    font-size: 20px;
}

#popup:hover {
    width: 210px;
}


.filterDiv {
    margin: 2px;
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.btn {
    font-weight: bold;
    font-family: cursive;
    border: none;
    outline: none;
    padding: 12px 20px;
    margin: 20px;
    background-color: #f4b7c7;
    cursor: pointer;
}

    /* Add a light grey background on mouse-over */
    .btn:hover {
        background-color: #ddd;
    }

    /* Add a dark background to the active button */
    .btn.active {
        background-color: #cc96a5;
    }
