.grid-container2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 100px 270px 100px;
    justify-items: center;
    font-family: latoBold;
    background-size: cover;
    background-color: var(--mynewlighter);
}

body {
    background-image: url(../image/whiteFlowers.jpeg);
    background-size: cover;
    padding: 50px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 10px;
}

#img {
    border: dotted #397e6c;
}

.name {
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.style {
    text-align: center;
    grid-column: 2;
    grid-row: 3;
}

.price {
    text-align: center;
    grid-column: 2;
    grid-row: 4;
}

form {
    text-align: center;
    grid-column: 2;
    grid-row: 5;
}

.submit {
    grid-column: 2;
    grid-row: 7;

}

.submitbutton {
    background-color: wheat;
    font-size: 15px;
    font-family: cursive;
    padding: 20px;
    margin: 8px;
    border: solid white;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 30%;
}

