.grid-container2 {
    grid-template-areas:
        'headerLeft headerLeft headerRight headerRight'
        'left left aboutme aboutme'
        'left left item9 item10'
        'helper helper details9 details10'
        'helper helper item11 item12'
        'helper helper details11 details12'
        'footer footer footer footer';
    justify-items: center;
    font-family: latoBold;
    background-size: cover;

}

.addItem {
    grid-area: addItem;
    border: solid white;
    background-color: antiquewhite;
}

.helper {
    grid-area: helper;
}

.left {
    display: grid;
    grid-area: left;
    padding: 10px;
}

.headerLeft {
    margin-bottom: 20px;
    grid-area: headerLeft;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
    margin: 20px;
}

.headerRight {
    margin-bottom: 20px;
    grid-area: headerRight;
    text-align: center;
    padding: 10px;
    border: 2px solid white;
    background-color: antiquewhite;
    margin: 20px;
}



body {
    background-image: url(../image/whiteFlowers.jpeg);
    background-size: cover;
    padding: 50px;
    border: 1px solid white;
    margin: 5px;
    border-radius: 10px;
}

#img {
    border: dotted #397e6c;
}

.aboutme {
    grid-area: aboutme;
    padding: 20px;
    margin: 20px;
    font-family: lato;
    src: url("../Lato-Regular.ttf");
    
}

.item9 {
    grid-area: item9;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item10 {
    grid-area: item10;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item11 {
    grid-area: item11;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.item12 {
    grid-area: item12;
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
}

.details9 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details9;
}

.details10 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details10;
}

.details11 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details11;
}

.details12 {
    padding: 20px;
    border: 2px solid white;
    margin: 20px;
    background-color: antiquewhite;
    grid-area: details12;
}

#myText{
    height: 50px;
    width:200px;
    border:ridge;
}

.submitbutton {
    background-color: wheat;
    font-size: 15px;
    font-family: cursive;
    padding: 20px;
    margin: 8px 0;
    border: solid white;
    cursor: pointer;
    opacity: 0.8;
    border-radius: 30%;
}
