
:root {
    --darkgreen: #357078;
    --graygreen: #455656;
}
@keyframes back {
    from {
        background-image: url(cvpic.jpg)
    }

    to {
        background-color: lightskyblue
    }
}

.grid-container {
    display: grid;
}
.TomYanai {
    grid-column-start: 1;
    grid-column-end: 5;
}
.Background {
    grid-column-start: 1;
    grid-column-end: 1;
}
.Contact {
    grid-column-start: 4;
    grid-column-end:4 ;
}
h1 {
    text-align:center;
    color: var(--darkgreen)
}
body {
    color: var(--graygreen);
    font-family: Tahoma;
    background-image: url("cvpic.jpg");
    background-size: cover;
    padding: 10px;
    margin: 5px;
}
